<p>
  <% if @shop.image? %>
    <%= image_tag @shop.image.url, :class => "full-width" %>
  <% else %>
    <%= image_tag 'default-shop_img.jpg', :class => "full-width" %>
  <% end %>
</p>
<%= render 'shops/header', shop: @shop %>
<%= render 'shops/tabs', shop: @shop %>

<p class="shop-info-title">お仕事情報</p>
<div class="job-offer-article">
  <p class="title">自由シフト／勤務styleはキミ次第！鴨川沿いのリゾートガーデン</p>
  <p class="subtitle">どんなお店？</p>
  <p class="paragraph">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    ああああああああああああああああああああああああああああああ。</p>
    
  <p class="subtitle">一緒に働く仲間はどんな人たち？</p>
  <p class="paragraph">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    ああああああああああああああああああああああああああああああ。</p>
    
  <p class="subtitle">こんなことをやってもらいたいです。</p>
  <p class="paragraph">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    ああああああああああああああああああああああああああああああ。</p>
</div>

<p class="job-offer-condition-title">募集情報</p>
<table class="table job-offer-condition">
  <tr>
    <th>雇用形態</th>
    <td>アルバイト・パート</td>
  </tr>
  <tr>
    <th>給与</th>
    <td>時給1,000円～1,300円</td>
  </tr>
  <tr>
    <th>勤務地</th>
    <td><a href="#">京都市伏見区深草飯食町839-4</a><br/>
        阪急京都線　河原町駅　徒歩1分<br/>
        京阪本線　祇園四条駅　徒歩2分<br/> 
        京都市営東西線　三条京阪駅　徒歩6分
    </td>
  </tr>  
  <tr>
    <th>勤務時間</th>
    <td>週一、4時間から要相談</td>
  </tr>
  <tr>
    <th>詳細</th>
    <td><a href="#">http://xxxx.co.jp</a></td>
  </tr>  
  <tr>
    <th>その他</th>
    <td>4時間以上/回の勤務で賄い飯が付きます！</td>
  </tr>
</table>
    
<p style="text-align: center;"><a href="#" type="button" class="btn btn-primary">話を聞きたい</a></p>
<p style="text-align: center; color: red;">賄い飯の試食付き！</p>