<div class="shop-show">
  <%= render 'shops/header', shop: @shop %>
  
  <%= render 'shops/tab', shop: @shop %>

  <div class="shop-main">
    <p><%= image_tag('test_shop-header.jpg', :width => "100%", :height => "auto", :alt => "テスト画像") %></p>
    
    <p>アピールコメント</p>
    
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>職種</th>
          <td>アルバイト・パート</td>
        </tr>
        <tr>
          <th>仕事内容</th>
          <td>ホールスタッフ・キッチン共に募集中</td>
        </tr>
        <tr>
          <th>給与</th>
          <td>時給1,000円～1,300円<br/>
          交通費：一部支給（当社規定内支給）<br/>
          【22時以降時給25％UP】<br/>
          【友達紹介5000円プレゼント】<br/>
          【交通費支給】<br/>
          ※時給はオープニング時給です。</td>
        </tr>
        <tr>
          <th>勤務時間</th>
          <td>15:00～01:00<br/>
          ◎週1日～OK!<br/>
          ◎1日4h～OK!<br/>
          もちろん週5日以上で働きたい方大歓迎!!<br/>
          ◎終電までの勤務もOKです!!<br/>
          ◎22時以降の勤務は時給25％UPです!!</td>
        </tr>
        <tr>
          <th>勤務地</th>
          <td>住所<br/>
          京都府京都市中京区西木屋町四条上ル真町97 イマージアムビル7階-B<br/>
          最寄駅<br/>
          阪急京都線　河原町駅　徒歩1分<br/>
          京阪本線　祇園四条駅　徒歩2分<br/> 
          京都市営東西線　三条京阪駅　徒歩6分</td>
        </tr>
        <tr>
          <th>その他</th>
          <td>4時間以上/回の勤務で賄い飯が付きます！</td>
        </tr>
      </table>
    </div>
    <p><a href="#" type="button" class="btn btn-primary">話を聞きたい</a></p>
    
    <div style='background-color: #dddddd; margin-top:10px; padding:10px;'>
      <p>より詳しい情報知りたい方はこちら！(HPの採用ページやバイトル、タウンワークなどの外部サイトへのリンク設置)</p>
      <p><a href="#">http://xxx.xxx.co.jp</a></p>
    </div>
  </div>
</div>