<div class="shop-show">
  <%= render 'shops/header', shop: @shop %>
  
  <%= render 'shops/tab', shop: @shop %>
  
  <div class="shop-main">
    <p>いいね！数xx,xxx件｜フォロワー数xxx人</p>
    <%= render 'posts/posts', posts: @shop.posts %>
  </div>
</div>