<div style="padding: 10px;">
  <%= render 'shops/header', shop: @shop %>
  
  <%= render 'shops/tab', shop: @shop %>
  
  <p style="margin-top: 10px;">いいね！数xx,xxx件｜フォロワー数xxx人</p>
  <%= render 'posts/posts', posts: @shop.posts %>