<p>
  <% if @shop.image? %>
    <%= image_tag @shop.image.url, :class => "full-width" %>
  <% else %>
    <%= image_tag 'default-shop_img.jpg', :class => "full-width" %>
  <% end %>
</p>
<%= render 'shops/header', shop: @shop %>
<%= render 'shops/tabs', shop: @shop %>

<p class="shop-info-title">お店ストーリー</p>
<div class="story-article">
  <p class="title">ケーキとお酒がおいしい隠れ家カフェバー</p>
  <p class="subtitle">お店の始まりは？</p>
  <p class="paragraph">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    ああああああああああああああああああああああああああああああ。</p>
    
  <p class="subtitle">人気メニューは？</p>
  <p class="paragraph">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    ああああああああああああああああああああああああああああああ。</p>
    
  <p class="subtitle">新しく取り組んでいることは？</p>
  <p class="paragraph">あああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ。
    ああああああああああああああああああああああああああああああ。</p>
</div>