<div class="twitter-login-lead">
  <p>twitterでログインすると、投稿をいいね！したり、気になるお店をフォローできるようになります。</p>
  <p style="font-weight: bold;">さらに、お店からお得なオファーが届くかも？</p>
</div>

<div class="container">
  <div class="twitter-login-button-area">
    <% if devise_mapping.omniauthable? %>
      <% resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
          <ul>
            <li><%= image_tag('twitter_login.jpg', :width => "60%", :height => "auto", :alt => "twitterでログイン") %></li>
            <li class="terms-of-service"><a href="#">ユーザー向け利用規約</a></li>
            <li class="privacy-policy"><a href="#">プライバシーポリシー</a></li>
            <li class="twitter-login-notice">※許可なくtwitterへ投稿することはありません</li>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
    