<div class="container">
  <p style="font-weight: bold;">お店について語ろう。</p>  
  <p>ユーザがあなたのお店について知りたがっています。</p>
  <p><%= link_to new_story_path do %><i class="fas fa-edit"></i>お店のストーリーを書く<% end %></p>
</div>