<ul class="media-grid">
  <% posts.each do |post| %>
    <% if post.image? %>
      <%= link_to post do %>
        <li style="background-image: url('<%= post.image.url %>')"></li>
      <% end %>
    <% end %>
  <% end %>
</ul>