<p class="today"><%= Time.zone.now.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})") %></p>

<ul>
  <% @shops.each do |shop| %>
    <!--1post/shop/dayなためlastを付加し限定（投稿側で1post/shop/dayに限定するので本来は不要なはずだが-->
    <% post = shop.posts.created_today.last %>
  
    <% if post.present? %>
      <% if post.image? %>
        <li><%= render 'posts/post', post: post %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>