@charset "utf-8";

/********** Initialization **********/
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  padding-top: 40px;
  color: #333;
  font-size: 1.4em;
}
ul {
  list-style-type: none;
  list-style-position: inside;  
  margin: 0;
  padding: 0;
}
label {
  font-size: 1.0rem;
  color: #999;
  margin-left: 1px;
}
.label {
  font-size: 1.0rem;
  color: #999;
  margin: 0;
  padding: 0;
}
/*すべてのstyleを削除*/
.clear-css {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
#wrapper_sp {
  display: none;
}
#wrapper_pc {
  display: block;
  margin-top: 150px;

  font-size: 5rem;
  font-weight: bold;
  text-align: center;  
}
.btn {
  font-size: 1.2rem;
}
.required {
  color: red;
}
.full-width {
  width: 100%;
  height: auto;
}
.makanai {
  color: #FF9933;
}
.draft {
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
}
/*error message*/
#error_explanation {
  color: #a94442;
  font-size: 1.0rem;
  
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}
#error_explanation h2 {
  display: none;
}
#error_explanation ul {
  list-style-type: disc;
  margin: 10px;
}

.devise-shared-links {
  font-size: 1.2rem;
  margin: 5px;
}

/************** form-control **************/
.form-control {
  font-size: 1.2rem;
}
/************** placeholder **************/
/*::-webkit-input-placeholder {*/
/*  font-size: 1.2rem;  */
/*}*/
/*::-moz-placeholder {*/
/*  font-size: 1.2rem;  */
/*}*/
/*::-moz-placeholder {*/
/*  font-size: 1.2rem;*/
/*}*/
/*::-ms-input-placeholder {*/
/*  font-size: 1.2rem;  */
/*}*/

/************** header **************/
/* navbar */
.navbar {
  background-color: #fff;
  min-height: 40px;
  padding: 0 5px 0 10px;
}
.wrapper_nav {
  overflow: hidden;
  line-height: 30px;
}
.wrapper_nav_second {
  overflow: hidden;
  font-size: 1.1rem;
}
.wrapper_nav_second li {
  float: left;
  margin: 5px 0;
}
/*during-login*/
.during-login {
  overflow: hidden;
  padding: 5px 10px;
  background-color: #23282d;
  border-bottom: 1px solid #eee;
  font-size: 1.0rem;
}
.during-login li {
  float: left;
}
.during-login li:last-child {
  float: right;
}
.during-login a {
  color: #eee;
}


/************** _flash_messages **************/
.alert {
  font-size: 1.2rem;
}



/************** footer **************/
footer {
  margin-top: 50px;
  background-color: #23282d;
  /*background-color: #eee;*/
  height: 200px;
  
  position: relative;
  
  font-size: 1.0rem;
  color: #eee;  
}
footer a {
  color: #eee;
}
.copyright {
  text-align: center;
  font-size: 0.8rem;
  /*color: #eee;*/
  
  width:100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}


.container {
  padding: 0;
  margin: 10px;
}

/*　右下の丸ボタン（pageTop/camera）　*/
#pageTop, #camera {
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 0;
}
#pageTop i, #camera i {
  padding-top: 6px;
  /*line-height: 24px;*/
}
#pageTop a, #camera a {
  display: block;
  z-index: 999;
  padding-top: 12px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  /*background-color: #9FD6D2;*/
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#pageTop a {
  background-color: #9FD6D2;
}
#camera a {
  background-color: #337ab7;
}
#pageTop a:hover, #camera a:hover {
  text-decoration: none;
  opacity: 0.7;
}


/************** posts/index **************/
.today {
  text-align: right;
  font-size: 1.1rem;
  color: #777;
  margin: 10px;
}
.post-content {
  margin-bottom: 30px;
}

/************** posts/_post **************/
.shop-name {
  font-weight: bold;
  margin: 5px 10px;  
}
.post-comment {
  font-size: 1.2rem;
  margin: 5px 10px; 
}
.post-icons {
  display: table;
  table-layout: fixed;
  width: 40%;
  margin: 5px 0;
  margin-left: auto;
}
.post-icons li {
  display:table-cell;
  text-align: center;
  font-size: 2.4rem;
  color: #777;
}
.post-icons li span {
  line-height: 25px;
  font-size: 1.2rem;
}

/************** shops/show **************/
.shop-tags {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}
.summary {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

/* shop-admin-menu */
.shop-admin-menu {
  margin: 10px 0;
  text-align: right;
}
.shop-edit a {
  color: #777;
}

/* tabs */
.tabs {
  display: table;
  table-layout: fixed;
  width:100%;
  margin: 30px 0 20px 0;
  font-size: 1.2rem;
}
.tabs li {
  display:table-cell;
  text-align: center;  
}
.tabs .active a {
  border-bottom: 2px solid #ddd;
  color: #ddd;
  font-weight: bold;
}

/* media-grid */
.media-grid {
  list-style-type: none;
  margin: 10px;
  /*padding: 0;*/
  font-size: 0;
  
  /*background-color: #fff;*/
  /*opacity: 0.8;*/
}
.media-grid li {
  display: inline-block;
  
  width : 33.33333% ;  /* 未対応ブラウザ用フォールバック */
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
  
  height: 300px;  /*　デフォルト値　*/
  
	background-repeat: no-repeat;
	background-position: center center;
	background-size:cover;
  border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*margin-bottom: 30px;*/
	box-sizing: border-box;
	
	border-radius: 5px;
}
.media-grid a:nth-of-type(3n) li {
  border-right: none;
}


/************** shops/job_offer **************/
.job-offer-article {
  margin: 10px;
}
.job-offer-article .title {
  font-weight: bold;
}
.job-offer-article .subtitle {
  font-weight: bold;
  color: #777;
  margin-top: 50px;
}
.job-offer-article .paragraph {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}
.job-offer-condition-title {
  background-color: #eee;
  padding: 10px;
  font-size: 1.0rem;
  margin-bottom: 0;
}
.job-offer-condition {
  font-size: 1.0rem;  
}
.job-offer-condition th {
  color: #999;
  font-weight: normal;
}


/************** shops/story **************/
.story-article {
  margin: 10px;  
}
.story-article .title {
  font-weight: bold;
}
.story-article .subtitle {
  font-weight: bold;
  color: #777;
  margin-top: 50px;
}
.story-article .paragraph {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;  
}


/************** shops/info **************/
.shop-info-title {
  background-color: #eee;
  padding: 10px;
  font-size: 1.0rem;
  margin-bottom: 0;
}
.shop-info {
  font-size: 1.0rem;
}
.shop-info th {
  color: #999;
  font-weight: normal;
}
.shop-info tbody {
  border-bottom: 1px solid #ddd;
}
.fa-moon {
  color: #336aa2;
}
.fa-sun {
  color: #cc8131;
}

/************** users/_twitter **************/
.twitter-login-lead {
  width: 80%;
  margin: 50px auto 30px;
}
.twitter-login-lead p {
  font-size: 1.2rem;
}
.twitter-login-button-area {
  text-align: center;
  /*margin-top: 30px;*/
}
.terms-of-service {
  margin-top: 10px;
  font-size: 1.2rem;
}
.privacy-policy {
  margin-top: 5px;
  font-size: 1.2rem;
}
.twitter-login-notice {
  margin-top: 10px;
  color: #999;
  font-size: 1.2rem;  
}

/************** users/show **************/
.user-image img {
  border-radius: 50%;
}
.user-name {
  font-size: 1.4rem;
  /*font-weight: bold;*/
  margin: 5px 0;
}
.user-prof-edit a {
  color: #777;
}
.user-logout {
  margin: 10px;
  text-align: right;
}
.user-logout a {
  color: #777;
  font-size: 1.0rem;
}


/************** posts/_form **************/
.existing-img {
  /*width: 100%;*/
  /*height: auto;*/
  background-position: center center;
  background-size: cover;
  /*-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);*/
  display: block;
  margin-bottom: 5px;
}
.existing-img img {
  width: 100%;
  height: auto; 
}
.imagePreview {
  width: 100%;
  /*height: 180px;*/
  height: auto;
  background-position: center center;
  background-size: cover;
  /*-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);*/
  display: block;
  /*display: none;*/
}

/************** posts/show **************/
.post-admin-menu {
  margin: 10px;
  text-align: right;
}
.post-edit a {
  color: #777;
}
.post-edit-submit {
  margin: 10px;
  overflow: hidden;
}
.post-edit-submit li {
  float: left;
}
.post-edit-submit li:last-child {
  float: right;
  font-size: 2.0rem;
  margin-right: 5px;
}
.post-edit-submit li:last-child a {
  color: #777;
}

/************** users/edit **************/
.user-prof-edit-wrapper {
  margin: 10px;
}
.user-prof-edit-wrapper p {
  font-size: 1.2rem;
}

/************** posts/show **************/
.story-edit a {
  color: #777;
}

/* レスポンシブ（ワイドな順に設定） */
/*　画面サイズが1200px以上の場合、ここのスタイルを読み込む　*
@media screen and (min-width:1200px) {
}
*/
/*　画面サイズが992px～1199pxの間は、ここのスタイルを読み込む　*
@media screen and (min-width:992px) and ( max-width:1199px) {
}
*/
/*　画面サイズが480px～991pxの間は、ここのスタイルを読み込む　*/
@media screen and (min-width:480px) and ( max-width:991px) {
	.media-grid li {
	  height: 150px;
	}
}
/*　画面サイズが767px以下の場合、ここのスタイルを読み込む　*/
@media screen and (max-width:767px) {
  #wrapper_pc {
    display: none;
  }
  #wrapper_sp {
    display: block;
  }  
}
/*　画面サイズが479px以下の場合、ここのスタイルを読み込む　*/
@media screen and (max-width:479px) { 
	.media-grid li {
	  height: 100px;
	}
}