<footer>
  <ul style="padding: 10px;">
    <% if shop_signed_in? %>
      <li><%= link_to 'マイページ', shop_path(current_shop) %></li>
      <li><%= link_to 'ログアウト', destroy_shop_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to '掲載をご希望のお店の方はこちら', shops_path %></li>
      <li><%= link_to 'ログイン', shop_session_path %></li>
    <% end %>
  </ul>
  <div class="copyright">Copyright © STAFFMIEL All rights reserved.</div>
</footer>